main .passenger-wrapper {
    width: 100%;
    min-width: 20em;
    max-width: 30em;
    box-shadow: var(--default-box-shadow);
    border-radius: 1em;
}

main .passenger-contact-wrapper {
    box-shadow: var(--default-box-shadow);
    border-radius: 1em;
}

main .passenger-wrapper .passenger-ticket-price > span,
main .passenger-wrapper .passenger-seat-numbers > span > span
{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--bs-primary);
}
