main .passenger-wrapper {
    width: 100%;
    min-width: 20em;
    max-width: 25em;
    box-shadow: var(--default-box-shadow);
    border-radius: 1em;
}

main .passenger-contact-wrapper {
    box-shadow: var(--default-box-shadow);
    border-radius: 1em;
}

main .passenger-wrapper .passenger-ticket-price > span {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--bs-primary);
}

main .passenger-wrapper .station-names {
    font-size: small;
}

main .passenger-wrapper .passenger-seat {
    font-weight: bold;
    color: var(--bs-primary);
}

main .passenger-wrapper .vehicle-icon {
    color: var(--bs-primary);
}
