main #trip-error-message #close-trip-error-message {
    cursor: pointer;
}

main #trip-error-message #close-trip-error-message > svg {
    font-size: x-large;
}

main #trip-error-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    max-width: 20em;
    box-shadow: var(--default-box-shadow);
    border-radius: 0.5em;
    z-index: 1;
}
