main .trip-wrapper {
    width: 100%;
    height: 4em;
    border: 2px solid var(--bs-primary);
    border-radius: 1em;
}

main .trip-wrapper:hover {
    box-shadow: var(--default-box-shadow);
    cursor: pointer;
}

main .btn-link {
    border: 1px solid var(--bs-primary)
}

main .btn-link:hover {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

@media only screen and (max-width: 767px) {
    main .btn-link {
      font-size: x-small;
      max-width: min-content;
    }
}

main .trip-info-wrapper
{
    width: 90%;
    box-shadow: var(--default-box-shadow);
    border-radius: 0.5em;
}

main .trip-info-wrapper > div {
    border: 1px solid gray;
}

@media only screen and (max-width: 767px) {
    main .trip-info-wrapper .row > div > span
    {
      font-size: x-small;
    }

}

main .trip-wrapper.trip-selected {
    background-color: var(--confirmation-color);
    box-shadow: var(--default-box-shadow);
}
