header {
    position: fixed;
    width: 100%;
    height: max-content;
    top: 0;
    z-index: 3;
    border-radius: 1em;
    border: 0px;
    box-shadow: var(--default-box-shadow);
    max-width: calc(var(--max-body-width) - 1em);
    background-color: var(--bs-white);
}

header > .row > div {
    padding-left: 1em;
    padding-right: 1em;
}

.header-back {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
    min-width: calc(var(--max-body-width));
    min-height: var(--header-height);
}

header .dropdown-menu {
    box-shadow: var(--default-box-shadow);
}

header .sidebar-toggle-btn {
    width: 3.5em;
}
