/* footer {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 20px;
    height: 70px;
    font-size: 18px;
    border-top: 1px solid var(--theme-border);
} */
/* footer {
    max-width: calc(var(--max-body-width));
    min-width: 100%;
} */

/* footer */

footer .creator-info-link {
    margin: 0.5em;
}

footer .creator-info-mail-link {
    min-width: 12em;
}

footer .creator-info-link i {
    color: black;
}

footer .row:nth-last-child(1) span {
    font-size: small;
}
