footer {
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    z-index: 0;
    /* background-color: white;
    opacity: 0.5; */
}

footer .creator-info-link {
    margin: 0.5em;
}

footer .creator-info-mail-link {
    min-width: 12em;
}

footer .creator-info-link i {
    color: black;
}

footer .row:nth-last-child(1) span {
    font-size: small;
}
