@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

:root {
    --default-box-shadow: 1px 4px 10px 1px var(--bs-gray-dark);
    --header-height: 60px;
    --max-body-width: 1200px;
    --confirmation-color: rgb(144, 238, 144)
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

body {
    max-width: var(--max-body-width);
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 0.1em;
    box-shadow: var(--default-box-shadow);
    border-radius: 1em;
    /* filter: grayscale(0%); */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
    z-index: -1;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: var(--header-height);
    width: 100%;
    /* TODO(theofilo): Define minimum height */
    min-height: 80vh;
    z-index: 0;
    background-color: white;
    opacity: 0.95;
}

footer {
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    z-index: 0;
}

.hide {
    display: none;
    visibility: hidden;
}

.main-wrapper {
    width: 100%;
}

@media only screen and (max-width: 576px) {
    main .full-width-xs {
        width: 100%;
    }
}

.rotate-transition {
    transition: transform 0.5s;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.5s;
}
