@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

:root {
    --default-box-shadow: 1px 4px 10px 1px var(--bs-gray-dark);
    --header-height: 70px;
    --max-body-width: 1200px;
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

body {
    max-width: var(--max-body-width);
    margin: 0 auto;
    box-shadow: var(--default-box-shadow);
    border-radius: 1em;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: var(--header-height);
    width: 100%;
    min-height: 99vh;
    z-index: 0;
}

.hide {
    display: none;
}
