main .reservation-items-container {
    box-shadow: var(--default-box-shadow);
    border-radius: 1em;
}

main .reservation-items-container span[id^="chevron-"] {
    border-radius: 0.5em;
    border: 1px solid var(--bs-primary);
    color: var(--bs-primary);
    padding: 0.5em;
}

main .reservation-items-container span[id^="chevron-"]:hover {
    cursor: pointer;
}

main .trip-selector-wrapper {
    border: 2px solid var(--bs-primary);
    border-radius: 0.5em;
    user-select: none;
}

main .trip-selector-wrapper:hover  {
    box-shadow: var(--default-box-shadow);
    cursor: pointer;
}

main .trip-selector-wrapper div {
    font-size: small;
}

main .trip-selector-wrapper.trip-selected {
    box-shadow: var(--default-box-shadow);
    background-color: var(--confirmation-color);
}

/* Do not display chevron over header buttons when page is scrolled */
/* main span[id^="chevron-"] > svg { */
    /* z-index: -1; */
/* } */
