main .wagons-container * {
    user-select: none;
}

main .wagons-container > div {
    border-radius: 0.5em;
    border: 1px solid var(--bs-primary);
}

main .wagons-container > div > span {
    font-size: small;
}

main .wagons-container > div:hover {
    box-shadow: var(--default-box-shadow);
    cursor: pointer;
}

main .wagon.wagon-selected {
    background-color: var(--confirmation-color);
}

main .wagon-seats-container {
    /* min-width: 10em; */
    /* min-width: calc(2 ); */
    /*  Use min width 2 * max content */
    /* min-width: calc(4 * max-content); */
}
